In [1]:
#import dependancies 
import pandas as pd 
import os

In [27]:
#get data frame for weather data
hawaii_measurements_file=os.path.join("hawaii_measurements.csv")
hawaii_measurements_df=pd.read_csv(hawaii_measurements_file)
hawaii_measurements_df=hawaii_measurements_df.dropna(how="any")
hawaii_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [28]:
#look at counts to see if values should be dropped 
hawaii_measurements_df.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [29]:
#look at station data
hawaii_stations_file=os.path.join("hawaii_stations.csv")
hawaii_stations_df=pd.read_csv(hawaii_stations_file)
hawaii_stations_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [30]:
#check to see if all data there
hawaii_stations_df.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [31]:
#join both tables take count to see if all data there
hawaii_joined_data=hawaii_measurements_df.merge(hawaii_stations_df, how="inner")
hawaii_joined_data.count()

station      18103
date         18103
prcp         18103
tobs         18103
name         18103
latitude     18103
longitude    18103
elevation    18103
dtype: int64

In [33]:
#display joined data
hawaii_joined_data.head()

,station,date,prcp,tobs,name,latitude,longitude,elevation
0,USC00519397,2010-01-01,0.08,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00519397,2010-01-02,0.00,63,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,USC00519397,2010-01-03,0.00,74,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,USC00519397,2010-01-04,0.00,76,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
4,USC00519397,2010-01-07,0.06,70,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0

In [40]:
#after data has been cleaned export data as csv files 
hawaii_measurements_df.to_csv(path_or_buf="/Users/ilyaslabodkin/Desktop/HW-Adv-Data-Storage-Retrieval/Instructions/Resources/hawaii_measurements_clean.csv")

In [41]:
hawaii_stations_df.to_csv(path_or_buf="/Users/ilyaslabodkin/Desktop/HW-Adv-Data-Storage-Retrieval/Instructions/Resources/hawaii_stations_clean.csv")

In [42]:
hawaii_joined_data.to_csv(path_or_buf="/Users/ilyaslabodkin/Desktop/HW-Adv-Data-Storage-Retrieval/Instructions/Resources/hawaii_joined_data_clean.csv")